* {
    box-sizing: border-box;
    
}

body {
    
    background-color: #ebebeb;    
}

header {
    background-color: #ffffff;
    font-family: sans-serif;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    
}
header img {
    margin-top: 2em;
    border-radius: 50%;
    border: 4px solid #cccccc;
    width: 9vw;
}

header h2 {
    color: #dd5555;
}

header h3 {
    font-weight: 600;
    color: #7d7d7d;
}


header p {
    color: #7d7d7d;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: justify;
}

.button {
    background-color: #dd5555;
    border: none;
    color: white;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
#mediaLinks {
    margin-top: 2em;
    display: flex;
    background-color: white;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    
}

#mediaLinks ul {
    display: flex;
    list-style: none;
    font-size: 32px;
    color: #cccccc;
    width: 100%;
    justify-content: space-around;
    line-height: 0em;

}

#mediaLinks li {
    display: block;
    
    
}

#mediaLinks i {
    margin-left: auto;
    
}

#mediaLinks a {    
    list-style: none;
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
    font-size: 27px;
}


#moviesList {
    margin-top: 2em;
    display: block;
    background-color: white;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    color: #888888;
}

#moviesList h3 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 5em;
}

#moviesList img {
    
    width: 30vw;
    height: auto;
}

#moviesList section {
    display: flex;
    padding-left: 3em;
    padding-bottom: 5em;
}

#moviesList p {
    font-family: sans-serif;
    text-align: justify;
    padding-left: 1em;
    padding-right: 2em;
    font-size: 1.2em;
    font-weight: 100;
}

